/** General **/
.loading {
  width: 100%;
  height: 100%;
  background: url(../images/loading.gif) #FFF no-repeat 50%;
  position: absolute;
  z-index: 99;
  opacity: 0.5;
  top: 0;
  left: 0;
}

.container {
  width: 960px;
  min-height: 400px;
  position: relative;
}

.selectionComponent p {
  background: #EF9A9A url(../images/select-arrow.png) no-repeat;
  background-size: 25px;
  background-position: right;
  background-position-x: 95%;
  color: #fff;
  padding: 10px 0 10px 12px;
  cursor: pointer;
  margin: 0;
  color: #f1f1f1;
  opacity: 0.9;
}

.selectionComponent p img {
  width: 24px;
}

.selectionComponent p:hover {
  background-color: #ea9090;
}

.selectionComponent p.selected {
  background-color: #d47979;
  color: #fff;
  opacity: 1;
}

.selectionComponent ul {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 90%;
  /* opacity: 0.95; */
  z-index: 10;
  box-shadow: 0px 1px 5px #ccc;
}

.selectionComponent:hover ul {
  display: block !important;
}

.selectionComponent ul li {
  background: #fff;
  list-style: none;
  color: #009688;
  padding: 5px 12px;
  border: 1px solid #f3f3f3;
  cursor: pointer;
}

.selectionComponent ul li:hover {
  background: #f2f2f2;
}

.selectionComponent ul li.current {
  background: #f1f1f1;
  font-weight: bold;
}

.results-selection {
  background: #f1f1f1;
  padding: 2em;
  font-size: 1.4em;
  font-weight: lighter;
  font-family: 'Open Sans', sans-serif;
  color: #444;
}

span.optionText {
  font-family: 'Open Sans', sans-serif;
  padding: 6px;
}

#step3-form {
  padding: 1.5em;
}

.checkIcon {
  opacity: 0.2;
}

.checkIcon.checked {
  opacity: 1;
}

.error {
  font-size: 13px;
  line-height: 13px;
}


.grayBox {
  background-color: #f1f1f1;
  /* height: 100%; */
  padding: 8px;
}

.grayBoxTerms {
  background-color: #f1f1f1;
  /* height: 100%; */
  padding: 1em;
  width: 95%;
}

.results-query {
  font-family: 'Open Sans', sans-serif;
}

.results-query ul {
  margin: 0;
  padding: 0px 15px;
  margin: 12px 0 50px 0;
}

.results-query ul li.guidelineHead{
  list-style: none;
  font-weight: bold;
  margin-bottom: 5px;
}

.results-query ul li.guideline {
  background-color: #f1f1f1;
  border: 1px solid #efefef;
  border-radius: 2px;
  padding: 6px 8px 6px 8px;
  margin-bottom: 4px;
  list-style: none;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
  position: relative;
}

.results-query ul li.guideline:hover{
  background-color: #f5eeee;
}

.results-query ul li.guideline label {
  cursor: pointer;
  font-weight: normal;
  padding-right: 119px;
}

.results-query ul li.guideline span.level {
}

.results-query ul li.guideline span.title {
  padding-left: 28px;
  color: #545454;
  font-size: 0.95em;
}


.results-query .messageResult {
  font-weight: lighter;
  color: #969696;
}

/* Checkbox */

.inputsFlat input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
.inputsFlat input[type="checkbox"] + .checkbox-label{
  margin: 0 !important;
  font-weight: normal;
  cursor: pointer;
  /* padding: 0px 10px !important; */
}

.inputsFlat input[type="checkbox"] + .checkbox-label:before {
  content: '';
  background: #f4f4f4;
  border: 1px solid #b4b4b4;
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  position: relative;
  margin-right: 0.3em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}
.inputsFlat input[type="checkbox"]:checked + .checkbox-label:before {
  background-color: #3197EE;
  box-shadow: inset 0 0 0 4px #f4f4f4;
}
.inputsFlat input[type="checkbox"]:focus + .checkbox-label:before {
  outline: none;
  border-color: #3197EE;
}

.inputsFlat input[type="checkbox"]:disabled + .checkbox-label:before {
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4;
}
.inputsFlat input[type="checkbox"] + .checkbox-label:empty:before {
  margin-right: 0;
}


#guidelines li {
  background-color: #f1f1f1;
  padding: 8px 0 5px 39px;
  background-position: 12px;
  margin-bottom: 2px;
}

li.guideline.type-0 {
  background: url('../images/type-0.png') no-repeat;
  background-position: 36px 8px;
}

li.guideline.type-1 {
  background: url('../images/type-1.png') no-repeat;
  background-position: 33px 8px;
}

#guidelines {
  margin-bottom: 14px;
}


/* Importance Levels colors*/

.level {
  border-radius: 6px;
  padding: 0px 5px;
  font-size: 12px;
  text-align: center;
  width: 95px;
  margin: 3px;
  position: absolute;
  right: 7px;
  top: 5px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

.Very, .level-4 {
    background-color: #c0504d;

    color: #fff;
}
.Important, .level-3 {
	background-color: #da9694;
    color: #fff;
}
.Useful, .level-2 {
	background-color: #e6b8b7;
    color: #fff;

}
.Optional, .level-1{
	background-color: #fff;
    color: #222;
}

.level-undefined {
  background-color: #fffbd8;
  color: #222;
}

span.guidelineType {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 5px;
}

span.guidelineType-0 {
  background: url('../images/type-0.png') no-repeat;
}

span.guidelineType-1 {
  background: url('../images/type-1.png') no-repeat;
}

tr.active-0 {
  opacity: 0.35;
}

#step4-form {
  padding: 19px 43px;
  /* margin: 0px 25px 25px 25px; */
  /* width: 560px; */
  /* height: auto; */
  /* background: #F1F1F1; */
}

.headTitle {
  font-family: 'Open Sans';
  font-weight: lighter;
}

span.optionText {
  font-family: 'Open Sans', sans-serif;
  padding: 6px;
}

.results-query ul li.guideline span.title {
  color: #545454;
  font-size: 0.95em;
}

tr.active-0 {
  opacity: 0.35;
}
tr.active-0 td {
}

td.importanceLevel {
  width: 35px;
}
